.header {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
  background-color: $white;
  width: 100vw;
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: space-between;

  &__logo {
    display: block;
    padding: 10px res(20);

    @media (max-width: $size-notebook) {
      padding: 10px res(20, notebook);
    }

    img {
      display: block;
      height: 60px;
    }
  }

  &-user {
    height: 80px;
    min-width: res(200);
    border-left: 1px solid $lightgray;
    padding: 0 res(20);
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;

    @media (max-width: $size-notebook) {
      min-width: res(200, notebook);
      padding: 0 res(20, notebook);
    }

    &__name {
      font-size: res(16);
      color: $black;
      font-weight: $bold;
      margin: 0 0 res(5);

      @media (max-width: $size-notebook) {
        font-size: res(16, notebook);
        margin: 0 0 res(5, notebook);
      }
    }

    &__logout {
      color: $primary;
      font-size: res(14);

      @media (max-width: $size-notebook) {
        font-size: res(14, notebook);
      }
    }
  }
}
