// Colors
$primary: #db5e97;
$secondary: #5edba2;
$black: #393b4a;
$gray: #8c92a3;
$lightgray: #ccd2e2;
$silver: #f2f2f5;
$white: #fff;

// Helpers
$default-transition: all 200ms ease-in-out;

// Fonts
$default-font: "Poppins", Arial, Helvetica, sans-serif;

$light: 300;
$regular: 400;
$bold: 700;

// Screen sizes
$size-notebook: 1440px;
$size-tablet: 1024px;
$size-mobile: 768px;
